# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.iml

# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist
.idea
tags
mini-host
dnsmasq-vpn
